<a href="https://colab.research.google.com/github/Natbel-Ov/data_science/blob/main/numpy_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#NumPy Challenge

Create a NumPy ndarray object by using this list of numbers [7,8,4,5,1,2].

Using slicing print the elements from index 3 to the end of the array.

Using slicing print all the elements except the last one.

Using slicing print the elements from index 1 to index 4 of the array.

Reshape the array into a 3 rows and 2 cols (3,2).

Print all the array elements one by one (iterating).

Create a new NumPy ndarray object by using this list of numbers [0,6,9].

Join the two arrays.

Using filtering print only the odd numbers of the joined array.

Sort the joined array elements.

Store in an array the names of the months.

Split the months array in 4 periods of 3 elements each one.

Create an array with genre information ['F','M','F','F','M','F'].

Find the indexes where the value is F.

Store in an array the age information [18,20,19,23,19,20].

Create a filter array with values < 20.

Change the 3 index element with a value of 22

Print the 4 index element.